---
layout: default
title: USWDS Tutorial
hero:
  heading_alt: "Learn how to use"
  heading: "USWDS"
  body: "A tutorial project to learn about installing, compiling, and customizing with the U.S. Web Design System"
  button_group:
  - label: "Start the tutorial"
    href: "#tutorial-start"
  - label: "View source on GitHub"
    href: "https://github.com/uswds/uswds-tutorial"
    secondary: true
---

<header class="opener">
  {% include "site/hero.html" with page.hero %}
</header>
<main id="tutorial-start">
  {% include "sxs/part-intro.html" %}
  {% include "sxs/part-one.html" %}
  {% include "sxs/part-two.html" %}
  {% include "sxs/part-three.html" %}
  {% include "sxs/part-four.html" %}
  {% include "sxs/part-five.html" %}
  {% include "sxs/part-six.html" %}
  {% include "sxs/part-seven.html" %}
  {% include "sxs/part-eight.html" %}
  {% include "sxs/part-end.html" %}
</main>
{% include "site/footer.html" %}
