---
layout: default
title: "USWDS Elements Tutorial"
hero:
  heading: "Let’s install a USWDS Elements Banner into a project"
  body: "We simply install, compose, and we’re done. So let's give it a shot."
---
{{ page.title }}
<header class="opener">
  {% include "site/hero.html" with page.hero %}
</header>
<main id="tutorial-start">
  {% include "sxs/part-one.html" %}
  {% include "sxs/part-two.html" %}
  <!-- {% include "sxs/part-three.html" %}
  {% include "sxs/part-four.html" %}
  {% include "sxs/part-five.html" %} -->
</main>
{% include "site/footer.html" %}
