<section class="part seven" id="part-seven">
  <h2><span>Part seven</span> Integrate project CSS and USWDS Sass</h2>
  <p>So now that we've added a couple USWDS components, let's try to harmonize the codebase a little. At this point it's possible to use USWDS tokens, functions, and mixins in our project styles! All we need to do is connect USWDS to our project styles.</p>
  <h3 class="step">Make a copy of your project styles with a <strong>.scss</strong> filetype.</h3>
  <p class="step-description">USWDS uses a stylesheet language called <a href="https://sass-lang.com">Sass</a> to compose our styles. In order to use our existing project CSS with USWDS, we'll need to change the filetype of our project CSS file from <strong>.css</strong> to <strong>.scss</strong>. (Sass is a superset of CSS, so you don't need to change anything else about the existing CSS styles to make them work with Sass.)</p>
  <div class="terminal">
    <pre>cp assets/css/styles.css assets/css/styles.scss</pre>
  </div>
  <h3 class="step">Import your project styles into USWDS custom styles.</h3>
  <p class="step-description">In your text editor, open <strong>_theme/_uswds-theme-custom-styles.scss</strong>. We'll connect USWDS styles and our existing project styles by "importing" our project styles into the USWDS custom styles file.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _theme/_uswds-theme-custom-styles.scss</h4>
    <pre class="add">@import "../assets/css/styles.scss";</pre>
  </div>
  <p class="step-description">Once you've updated this file, you can save and close it.</p>
  <h3 class="step">Add our project Sass source directory to the gulpfile.</h3>
  <p class="step-description">We can add our project's Sass source directory to the <strong>gulpfile.js</strong>'s path settings, so the <strong>watch</strong> script knows to look there for changes.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> gulpfile.js</h4>
    <pre class="blur">const uswds = require('@uswds/compile');
uswds.paths.dist.theme = './theme';</pre><pre class="add">
uswds.paths.src.projectSass = './assets/css';
</pre>
  </div>
  <p class="step-description">Save and close this file.</p>
  <h3 class="step">Compile styles.</h3>
  <p class="step-description">In the open terminal window, run the <strong>compile</strong> script to compile our combined styles. Now that USWDS and our project CSS are connected, they'll compile into a single file: the USWDS CSS file we added to the <strong>head</strong> in <a href="#part-four">Part Four</a>.</p>
  <p class="step-description">You'll know it worked if you see an Autoprefixer warning after the USWDS compile notifications.</p>
  <div class="terminal">
    <pre>npx gulp compile</pre>
  </div>
  <h3 class="step">Remove the project styles CSS link from the page head.</h3>
  <p class="step-description">Since we're no longer using the separate project CSS file, we will remove it from the site <strong>head</strong>.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _includes/head.html</h4>
    <pre class="blur">...
  &lt;link rel="stylesheet" href="&lcub;&lcub; '/assets/css/open-props.css' | relative_url &rcub;&rcub;"&gt;
  &lt;link rel="stylesheet" href="&lcub;&lcub; '/assets/uswds/css/styles.css' | relative_url &rcub;&rcub;"&gt;</pre><pre class="remove">
  &lt;link rel="stylesheet" href="&lcub;&lcub; '/assets/css/styles.css' | relative_url &rcub;&rcub;"&gt;</pre><pre class="blur">
  &lt;script src="&lcub;&lcub; '/assets/uswds/js/uswds-init.min.js' | relative_url &rcub;&rcub;"&gt;&lt;/script&gt;
</head></pre>
  </div>
<p class="step-description">Save and close the file.</p>
<h3 class="step">Delete the original project styles.</h3>
<p class="step-description">Now that our styles are compiling properly, we can delete our original project CSS file (<strong>styles.css</strong>).</p>
<p class="step-description"><strong>Note:</strong> We're copying and removing rather than simply renaming here just so we never break this tutorial site. If we simply renamed <strong>styles.css</strong> to <strong>styles.scss</strong>, then this site would lose its formatting and you couldn't follow the tutorial. In real-life applications, you could just rename!</p>
<div class="terminal">
  <pre>rm assets/css/styles.css</pre>
</div>
<h3 class="step">Use the watch script to watch for changes and recompile.</h3>
<p class="step-description">In the open terminal window, run the <strong>compile</strong> script to compile our combined styles and watch for future changes.</p>
<div class="terminal">
  <pre>npx gulp watch</pre>
</div>
<h3 class="step">Use USWDS color tokens for project colors.</h3>
  <p class="step-description">Our tutorial project uses CSS custom properties (otherwise known as "CSS variables" or "custom props"). We can update the value of those custom properties to use USWDS design tokens.</p>
  <p class="step-description">We'll add our updated custom properties to a new <strong>:root</strong> element, and we'll assign each updated property a <a href="https://designsystem.digital.gov/design-tokens/color/system-tokens/">USWDS system color token</a>, accessed with the <a href="https://designsystem.digital.gov/design-tokens/color/system-tokens/#using-color-tokens">USWDS <strong>color()</strong> function</a>.</p>
  <p class="step-description"><strong>Advanced note:</strong> If you're already familiar with Sass and functions, you'll see that when writing CSS custom properties, you need to use <a href="https://sass-lang.com/documentation/interpolation">Sass interpolation syntax</a> instead of regular functions. Anywhere else if the codebase, you can use regular functions, but custom properties require Sass interpolation.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> assets/css/styles.scss</h4>
    <pre class="add">:root {
  --blue-2: #{color("blue-warm-20v")};
  --blue-3: #{color("blue-warm-30v")};
  --blue-8: #{color("blue-warm-50v")};
  --grape-0: #{color("violet-10v")};
  --gray-2: #{color("gray-20")};
  --gray-9: #{color("gray-90")};
  --indigo-3: #{color("indigo-20v")};
  --indigo-4: #{color("indigo-30v")};
  --indigo-7: #{color("indigo-50v")};
  --indigo-8: #{color("indigo-60v")};
  --indigo-9: #{color("indigo-60v")};
  --red-8: #{color("red-warm-50v")};
  --red-9: #{color("red-warm-60v")};
  --teal-1: #{color("mint-20v")};
  --teal-3: #{color("mint-40v")};
  --teal-5: #{color("mint-50v")};
  --teal-7: #{color("mint-60v")};
  --teal-9: #{color("mint-70v")};
  --teal-2: #{color("mint-30v")};
  --yellow-1: #{color("gold-10v")};
  --yellow-7: #{color("gold-30v")};
}</pre><pre class="blur">

:where(html) {
  color-scheme: light;</pre>
  </div>
  <p class="step-description">Save, wait for the Sass to compile, do a hard reload, and you'll see the new colors!</p>
  <h3 class="step">Use USWDS font tokens for project fonts.</h3>
  <p class="step-description">Similarly, we can use <a href="https://designsystem.digital.gov/design-tokens/typesetting/font-family/">USWDS font family tokens</a> with our CSS custom properties.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> assets/css/styles.scss</h4>
    <pre class="blur">:root {
  ...
  --yellow-1: #{color("gold-10v")};
  --yellow-7: #{color("gold-30v")};</pre><pre class="add">
  --font-sans: #{family("sans")};
  --font-serif: #{family("serif")};
  --font-mono: #{family("mono")};</pre><pre class="blur">
}</pre>
  </div>
  <p class="step-description">Save, wait for the Sass to compile, and do a hard reload, and you'll see the new fonts. But hmm. Maybe these aren't the fonts we really want. Let's move to the last part of the tutorial to customize USWDS and finish harmonizing our styles!</p>
</section>