  <section class="part two" id="part-two">
    <h2><span>Part Two: Connect</span> Now, we’ll set up USWDS theme files and assets</h2>
    <h3 class="step">Initialize our USWDS installation.</h3>
    <p class="step-description">Now we'll use the functions we set up in the last section to initialize USWDS. This process adds USWDS assets and theme files to our project, then compiles a USWDS stylesheet.</p>
    <p class="step-description">USWDS static assets — fonts, images, and JavaScript — support USWDS styles. Initialization copies USWDS assets out of the package we installed in the first part and into the project directories we just defined.</p>
    <p class="step-description">We'll use the <strong>init</strong> function to copy these assets and compile USWDS CSS.</p>
    <div class="terminal">
      <pre>npx gulp init</pre>
    </div>
    <p class="step-description">After the script runs, we have new USWDS assets in an <strong>./assets/uswds</strong> directory, theme files in a <strong>./_theme</strong> directory, and compiled CSS in the <strong>./assets/uswds/css</strong> directory.</p>
    <p class="step-description">Let’s check... woohoo?!?</p>
  </section>