  <section class="part intro">
    <h2>Start simple. Start slow.</h2>
    <p class="subhed">Take it one step at a time. The design system can seem overwhelming if you try to do everything at once.</p>
    <p class="subhed">In the tutorial, you'll install USWDS on this very site. Then you'll add both the USWDS Banner and the USWDS Identifier to the page. Finally, you'll customize both the site and USWDS to start working together!</p>
    <h3>Contents</h3>
    <ul class="contents">
      <li>
        <a class="contents-item" href="#part-one">
          <span class="contents-part">1</span>
          <span class="contents-title">Set up the tutorial site</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-two">
          <span class="contents-part">2</span>
          <span class="contents-title">Set up USWDS and the USWDS compiler</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-three">
          <span class="contents-part">3</span>
          <span class="contents-title">Set up USWDS theme files and assets</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-four">
          <span class="contents-part">4</span>
          <span class="contents-title">Add USWDS CSS and JavaScript to the site template</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-five">
          <span class="contents-part">5</span>
          <span class="contents-title">Add the USWDS Banner</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-six">
          <span class="contents-part">6</span>
          <span class="contents-title">Add the USWDS Identifier</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-seven">
          <span class="contents-part">7</span>
          <span class="contents-title">Integrate project CSS and USWDS Sass</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-eight">
          <span class="contents-part">8</span>
          <span class="contents-title">Customize USWDS settings</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
    </ul>
  </section>
