<section class="part four" id="part-four">
  <h2><span>Compose the banner</span> Let’s add the USWDS Banner</h2>
  <h3 class="step">Get the USWDS Banner HTML.</h3>
  <p class="step-description">Head over to the <a href="https://designsystem.digital.gov/components/banner">USWDS Banner component page</a>. Expand the <strong>Component code</strong> accordion and copy the first section of markup, from <strong>&lt;section class="usa-banner"...&gt;</strong> to <strong>&lt;/section&gt;</strong></p>
  <h3 class="step">Add the Banner HTML into the tutorial markup.</h3>
  <p class="step-description">We'll paste the Banner markup into the top of our default layout, just before the content.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _layouts/default.html</h4>
    <pre class="blur">---
---
      
&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lcub;% include "site/head.html" %&rcub;
  &lt;body class="&lcub;{ page.body }&rcub;">
</pre><pre class=add>
    &lt;section class="usa-banner" aria-label="Official website of the United States government"&gt;
      &lt;div class="usa-accordion"&gt;
        &lt;header class="usa-banner__header"&gt;

        ...

        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;</pre><pre class="blur">
    &lcub;{ content }&rcub;</pre>
  </div>
  <h3 class="step">Update image paths.</h3>
  <p class="step-description">Now the banner is on our page. But when we look at it <a href="http://localhost:8080/">in the browser window</a>, it doesn’t look right. The images are missing. That's because the image paths in <em>our</em> project are different from the image paths in the code we copied from the USWDS website — as many prjects will be. Let's update those image paths to our actual project paths.</p>
  <p class="step-description">In our banner code, we'll replace all instances of the broken path (<strong>/assets/img</strong>) with the our project's actual USWDS image path (<strong>/assets/uswds/img</strong>) using a find/change.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _layouts/default.html</h4>
    <pre class="remove">src="/assets/img/us_flag_small.png"</pre><pre class="add">
src="/assets/uswds/img/us_flag_small.png"

</pre>
      <pre class="remove">src="/assets/img/icon-dot-gov.svg"</pre><pre class="add">
src="/assets/uswds/img/icon-dot-gov.svg"

</pre>
      <pre class="remove">src="/assets/img/icon-https.svg"</pre><pre class="add">
src="/assets/uswds/img/icon-https.svg"
</pre>
  </div>
  <p class="step-description">And once we've updated all these image paths, our banner should look perfect!</p>
</section>
