<section class="part eight" id="part-eight">
  <h2><span>Part eight</span> Customize settings</h2>
  <h3 class="step">Get the USWDS Identifier HTML.</h3>
  <p class="step-description">Head over to the USWDS Identifier component page. </p>
  <div class="terminal">
    <pre>npx gulp watch</pre>
  </div>
  <h3 class="step">Add the Identifier HTML into the tutorial markup.</h3>
  <p class="step-description">TK</p>
  <div class="terminal">
    <pre>touch _theme/_uswds-theme.scss</pre>
  </div>
  <h3 class="step">Update image paths.</h3>
  <p class="step-description">TK</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons">description</span> document_name.html</h4>
    <pre class="remove">touch _theme/_uswds-theme.scss</pre>
    <pre class="add">touch _theme/_uswds-theme.scss</pre>
  </div>
</section>
