  <section class="part intro">
    <h2>Contents</h2>
    <ul class="contents">
      <li>
        <a class="contents-item" href="#part-one">
          <span class="contents-part">1</span>
          <span class="contents-title">Install</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-two">
          <span class="contents-part">2</span>
          <span class="contents-title">Connect</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-three">
          <span class="contents-part">3</span>
          <span class="contents-title">Compose the assets</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-four">
          <span class="contents-part">4</span>
          <span class="contents-title">Compose the banner</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
      <li>
        <a class="contents-item" href="#part-five">
          <span class="contents-part">5</span>
          <span class="contents-title">Refine</span>
          <span class="material-icons right" aria-hidden="true">arrow_forward</span>
        </a>
      </li>
    </ul>
  </section>
