  <section class="part two" id="part-two">
    <h2><span>Part Two: Add the JavaScript</span> Now, we’ll add the USWDS Banner JavaScript to our project</h2>
    <h3 class="step">Initialize our USWDS installation.</h3>
    <p class="step-description">Here we'll use the settings and functions we set up in the last section to initialize USWDS. This process adds USWDS assets and theme files to our project, then compiles a USWDS stylesheet.</p>
    <p class="step-description">We'll use the <strong>npx gulp init</strong> command in the terminal to copy these assets and compile USWDS CSS.</p>
    <div class="terminal">
      <pre>cp node_modules/@uswds/elements/dist/components/usa-banner.js assets/uswds/js</pre>
    </div>
    <p class="step-description">After the script runs, we have new USWDS assets in an <strong>./assets/uswds</strong> directory, theme files in a <strong>./_theme</strong> directory, and compiled CSS in the <strong>./assets/uswds/css</strong> directory.</p>
  </section>