  <section class="part three" id="part-three">
    <h2><span>Part three</span> Set up USWDS theme files and assets</h2>
    <h3 class="step">Initialize your USWDS installation.</h3>
    <p class="step-description">Now we'll use the Gulp functions we set up in the last section to initialize our USWDS project. This process adds USWDS assets and theme files to your project, then compiles USWDS styles.</p>
    <p class="step-description">USWDS static assets — fonts, images, and (for the purposes of this tutorial) JavaScript — support USWDS styles. Since sites may not have access to the <strong>node_modules</strong> directory in production, initialization copies USWDS static assets out of the <strong>uswds</strong> package and into the project directories defined in your gulpfile and in the compiler's <a href="https://github.com/uswds/uswds-gulp/tree/jm-gulp-4#path-settings">default path settings</a>.</p>
    <p class="step-description">We'll use the <strong>init</strong> function we defined in the last section to copy these assets and compile USWDS CSS.</p>
    <div class="terminal">
      <pre>npx gulp init</pre>
    </div>
    <p class="step-description">After the script runs, you should have new USWDS assets in an <strong>./assets/uswds</strong> directory, theme files in a <strong>./_theme</strong> directory, and compiled CSS in the <strong>./assets/uswds/css</strong> directory.</p>
    <p class="step-description">They're there? Nice!</p>
  </section>