<section class="part three" id="part-three">
  <h2><span>Compose the assets</span> Add USWDS CSS and JavaScript our templates</h2>
  <p>So, now that we've created the compiled CSS and JavaScript, we need to include them in our page templates.</p>
  <h3 class="step">Add USWDS styles to the site head.</h3>
  <p class="step-description">Add a link to the the compiled USWDS CSS before the existing site CSS.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _includes/site/head.html</h4>
    <pre class="blur">&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  ...
  &lt;link rel="stylesheet" href="/assets/css/open-props.css"&gt;</pre><pre class="add">
  &lt;link rel="stylesheet" href="/assets/uswds/css/styles.css"&gt;</pre><pre class="blur">
  &lt;link rel="stylesheet" href="/assets/css/styles.css"&gt; 
  ...</pre>
    </div>
    <h3 class="step">Add USWDS initializer to the site head.</h3>
    <p class="step-description">Add the USWDS initialization script at the end of the page <strong>head</strong>. This script prevent flashes of unstyled content while USWDS is loading.</p>
    <div class="editor">
      <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _includes/site/head.html</h4>
      <pre class="blur">&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  ...
  &lt;link rel="stylesheet" href="/assets/css/open-props.css"&gt;
  &lt;link rel="stylesheet" href="/assets/uswds/css/styles.css"&gt;
  &lt;link rel="stylesheet" href="/assets/css/styles.css"&gt;</pre><pre class="add">
  &lt;script src="/assets/uswds/js/uswds-init.min.js"&gt;&lt;/script&gt;</pre><pre class="blur">
</head>
</pre>
  </div>
  <h3 class="step">Add USWDS JavaScript to the end of the page body.</h3>
  <p class="step-description">Finally, we’ll add the main USWDS JavaScript (<strong>uswds.min.js</strong>) to the end of the page <strong>body</strong> with another <strong>script</strong> tag.</p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> ./_layouts/default.html</h4>
    <pre class="blur">...

&lt;body class="&lcub;&lcub; page.body &rcub;&rcub;"&gt;
  &lcub;&lcub; content &rcub;&rcub;</pre><pre class="add">
  &lt;script src="/assets/uswds/js/uswds.min.js"&gt;&lt;/script&gt;</pre><pre class="blur">
&lt;/body&gt;
</pre>
  </div>
  <p class="step-description">We've added USWDS styles and JavaScript to our project, but we don't see any <em>changes</em> to our site. This is because we've designed USWDS to keep its styles to itself. In most cases, you won't see the effects of adding USWDS code until you intentionally add a USWDS component.</p>
  <p class="step-description">Which is just what we'll do now, by adding the USWDS Banner.</p>
</section>
