<section class="part seven" id="part-seven">
  <h2><span>Part seven</span> Integrate project CSS into USWDS Sass</h2>
  <h3 class="step">Open the tutorial index file.</h3>
  <p class="step-description">TK</p>
  <div class="terminal">
    <pre>touch _theme/_uswds-theme.scss</pre>
  </div>
  <h3 class="step">Get the USWDS Identifier HTML.</h3>
  <p class="step-description">TK</p>
  <div class="terminal">
    <pre>npx gulp watch</pre>
  </div>
  <h3 class="step">Add the Identifier HTML into the tutorial markup.</h3>
  <p class="step-description">TK</p>
  <div class="terminal">
    <pre>touch _theme/_uswds-theme.scss</pre>
  </div>
  <h3 class="step">Update image paths.</h3>
  <p class="step-description">TK</p>
  <div class="terminal">
    <pre>touch _theme/_uswds-theme.scss</pre>
  </div>
</section>