<section class="part section-one-end" id="section-one-end">
  <h2><span>Next steps</span>Extending USWDS</h2>
  <p>
    If you'd like to continue learning about  USWDS, continue to part two of this tutorial where will look deeper at customizing, adding custom styles, and extending USWDS components.
  </p>
  <div class="button-list">
    <a href="/extend" class="button primary">
      Part two: Extending USWDS
      <span
      class="material-icons right"
      aria-hidden="true">arrow_forward</span>
    </a>
  </div>
</section>
