  <section class="hero">
    <h1 class="hero-message">
      <span>Learn how to use</span>
      <span>USWDS</span>
    </h1>
    <p class="under-hero">A tutorial project to learn about installing, compiling, and customizing with the U.S. Web Design System</p>
    <div class="button-list">
      <a class="button primary" href="#tutorial-start">Start the tutorial <span class="material-icons right" aria-hidden="true">arrow_forward</span></a>
      <a class="button secondary" href="https://github.com/uswds/uswds-tutorial">View source on GitHub</a>
    </div>
  </section>
  <picture class="promo-art">
    <img src="https://doodleipsum.com/700x700/outline" height="800" width="800" alt="a random doodle">
  </picture>
