<div class="my-testimonial">
  <svg class="usa-icon my-testimonial__icon" aria-hidden="true" focusable="false" role="img" height="50px" width="50px">
    <use xlink:href="/assets/uswds/img/sprite.svg#format_quote"></use>
  </svg>
  <div class="my-testimonial__body">
    <p>
      “One of the best USWDS tutorials I’ve followed all the way to the end.”
    </p>
  </div>
  <div class="my-testimonial__footer">
    <img src="https://doodleipsum.com/100x100/avatar-5?bg=a5a8eb&shape=circle&n=1" alt="Profile pic">
    <div class="my-testimonial__profile">
      <p class="my-testimonial__profile-name">J. Fakename</p>
      <p class="my-testimonial__profile-title">Participant</p>
    </div>
  </div>
</div>
