@use "uswds-core" as *;

$my-testimonial-icon-color: color("indigo-40");

.my-testimonial {
  @include u-border-width($theme-card-border-width);
  @include u-margin-x(1);
  @include u-padding($theme-card-padding-perimeter);
  @include u-radius($theme-card-border-radius);
  @include set-text-and-bg("primary-dark", "primary-lighter");
  // background-color: color("primary-dark");
  // color: color("primary-light");
}

.my-testimonial__icon {
  fill: $my-testimonial-icon-color;
  stroke: $my-testimonial-icon-color;
}

.my-testimonial__body p {
  font-size: size("heading", "xl");
  font-weight: font-weight("bold");
  text-align: center;
}

.my-testimonial__footer {
  display: flex;
  flex-direction: row;
  margin-top: units(3);
}

.my-testimonial img {
  @include u-circle(10);
}

.my-testimonial__profile {
  margin-left: units(3)
}

.my-testimonial__profile-title {
  font-size: font-size("body", 5);
  margin-top: units(0);
}
