@use "uswds-core" as *;

$ut-testimonial-icon-color: color("indigo-30");

.ut-testimonial .usa-card__container {
  @include set-text-and-bg("indigo-70v", "indigo-20");
}

.ut-testimonial__icon {
  @include u-square(7);
  fill: $ut-testimonial-icon-color;
  stroke: $ut-testimonial-icon-color;
}

.ut-testimonial__quote p {
  @include u-font-size("heading", "xl");
  font-weight: font-weight("bold");
}

.ut-testimonial__footer {
  @include u-display("flex");
  @include u-flex("row");
}

.ut-testimonial img {
  @include u-circle(10);
}

.ut-testimonial__profile {
  @include u-margin-left(2);
}

.ut-testimonial__profile-name {
  @include u-text("indigo-10v");
}

.ut-testimonial__profile-title {
  @include u-margin-top(0);
  font-size: font-size("body", 5);
}