/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-font-type-sans: "public-sans",
  $theme-font-weight-heavy: 900,
  $theme-banner-background-color: "ink",
  $theme-banner-link-color: "indigo-30",
  $theme-banner-max-width: none,
  $theme-identifier-max-width: none,

  //
  // Part two.
  // ! Will be completed by the user.
  //
  // $theme-card-border-color: "indigo-30",
  // $theme-card-border-radius: 3,
  // $theme-card-border-width: 1,
  // TODO: Change up updating sans font family to public-sans
  // $theme-card-font-family: "serif",
  // $theme-card-header-typeset: "sans" "xl" 3
);
