$theme-show-notifications: false;
$theme-font-type-sans: "public-sans";
$theme-font-weight-heavy: 800;
$theme-banner-background-color: "ink";
$theme-banner-link-color: "indigo-30";
$theme-banner-max-width: none;
$theme-identifier-max-width: none;
