$theme-font-type-sans: "public-sans";
$theme-font-role-heading: "sans";
$theme-banner-background-color: "ink";
$theme-banner-font-family: "ui";
$theme-banner-link-color: "indigo-30";
$theme-banner-max-width: none;
$theme-show-notifications: false;
$theme-font-weight-heavy: 900;
$theme-identifier-max-width: none;
