<section class="part one" id="part-one">
  <h2><span>Part one</span> Customize card using theme settings</h2>
  <p>
    We’ll start customizing our card component by using the available theme settings.
  </p>
  <h3 class="step">View available theme settings.</h3>
  <p class="step-description">
    Visit the <a href="https://designsystem.digital.gov/components/card/#component-settings-card">USWDS Card component settings table</a> to see a list of available settings.
  </p>
  <h3 class="step">Customize border settings</h3>
  <p class="step-description">
    Let's start but updating the border color and radius to be more pronounced.
  </p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _theme/_uswds-theme.scss</h4>
<pre class="blur">@use "uswds-core" with (
  ...
</pre><pre class="add">  $theme-card-border-radius: 2,
  $theme-card-border-width: 0</pre>
<pre class="blur">);</pre>
  </div>
  <h3 class="step">Customize type settings</h3>
  <p class="step-description">
    Next lets use the available font and typeset settings to customize how our card information is presented.
  </p>
  <div class="editor">
    <h4 class="filename"><span class="material-icons" aria-hidden="true">description</span> _theme/_uswds-theme.scss</h4>
<pre class="blur">@use "uswds-core" with (
  ...
  $theme-card-border-radius: 2,
  $theme-card-border-width: 0,</pre>
<pre class="add">  $theme-card-font-family: "serif"
  $theme-card-header-typeset: "sans", "xl", 2.5
</pre><pre class="blur">);</pre>
  </div>
  <p class="step-description">
    Save, wait for he Sass to compile, and do a hard reload and you'll see the the updated border and font settings shape the card component! All without having to write any custom CSS.
  </p>
  
  <p class="step-description">
    But maybe there are additional changes your team would like to make that are not available in theme settings. In the next section we'll take a look at USWDS.
  </p>
</section>
