<section class="part intro">
  <h1>Part Two</h1>
  <h2>Theming, customizing, extending</h2>
  <p class="subhed">Take USWDS and make it your own.</p>
  <p class="subhed">In this section of the tutorial, you'll expand on theming components. Then you'll learn creating custom project styles for our components. Finally, you'll extend a component to create a custom component!</p>
  <h3>Contents</h3>
  <ul class="contents">
    <li>
      <a class="contents-item" href="#part-one">
        <span class="contents-part">1</span>
        <span class="contents-title">Theming USWDS components</span>
        <span class="material-icons right" aria-hidden="true">arrow_forward</span>
      </a>
    </li>
    <li>
      <a class="contents-item" href="#part-two">
        <span class="contents-part">2</span>
        <span class="contents-title">Writing custom styles</span>
        <span class="material-icons right" aria-hidden="true">arrow_forward</span>
      </a>
    </li>
    <li>
      <a class="contents-item" href="#part-three">
        <span class="contents-part">3</span>
        <span class="contents-title">Extending USWDS components</span>
        <span class="material-icons right" aria-hidden="true">arrow_forward</span>
      </a>
    </li>
  </ul>
</section>
