<div class="ut-testimonial">
  <svg class="usa-icon ut-testimonial__icon" aria-hidden="true" focusable="false" role="img" height="50px" width="50px">
    <use xlink:href="/assets/uswds/img/sprite.svg#format_quote"></use>
  </svg>
  <div class="ut-testimonial__quote">
    <p>
      "Wow, this component sure is great"
    </p>
  </div>
  <div class="ut-testimonial__footer">
    <img src="https://doodleipsum.com/100x100/avatar-5?bg=a5a8eb&shape=circle&n=1" alt="Profile pic">
    <div class="ut-testimonial__profile">
      <p class="ut-testimonial__profile-name">Person McGuy</p>
      <p class="ut-testimonial__profile-title">USWDS User</p>
    </div>
  </div>
</div>