---
---

<!doctype html>
<html lang="en">
{% include head.html %}
  <body class="{{ page.body }}">
    {% include skipnav.html %}
    {% include banner.html %}
    {% include header--extended.html %}
    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        <!-- {% include breadcrumb.html %} -->
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    {% include identifier.html %}
    <script src="{{ '/assets/js/uswds.min.js' | relative_url }}"></script>
  </body>
</html>
